nav {
    background-color: #272727;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    border: 1px solid #464545;
    background-color: #353333;
    border-radius: 10px;
}

ul {
    top: 0;
    left: 0;
    width: 99%;
}

ul {
    margin-left: 7px;
    margin-right: 0px;
}

li {
    float: left;
    color: #333333;
}

li a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #a3a3a3;
}

li a:hover {
    background-color: #232323;
}

.name {
    padding-top: 5px;
    padding-left: 5px;
}

.btn-nav {
    padding-top: 5px;
    padding-left: 3px;
}