* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

footer {
    text-align: center;
    font-size: x-small;
}