* {
    font-family: Arial, Helvetica, sans-serif;

}

html {
    margin: 0px;
}

body {
    margin: auto;
}

main {
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.home {
    background-color: #272727;
    color: beige;
}

main {
    background-color: #272727;
    color: beige;
}

.article section {
    border: solid white;
}

footer {
    color: beige;
    background-color: #272727;
    text-align: center;
    font-size: 10px;
}

footer p {
    padding-top: 35.4px;
    margin: 0px;
    color: beige;
}