@media (max-width: 320px) {
    .home {
        padding-left: 5px;
        padding-top: 5px;
    }
    .card_pika {
        width: 50px;
    }
}

@media (max-width: 375px) {
    .home {
        padding-left: 50px;
        padding-top: 10px;
    }
    .card_pika {
        width: 160px;
    }
}

@media (max-width: 425px) {
    .home {
        overflow: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    .release {
        float: none;
    }
    .beta {
        float: none;
    }
}

@media (max-width: 768px) {
    #release.release {
        width: 265px;

    }
    #beta.beta {
        width: 265px;
    }
    #home.home {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }
    .article {
        display: block;
        padding-top: 0px;
        padding-right: auto;
    }
}

@media (max-width: 1024px){
    .release {
        width: 350px;
    }
    .beta {
        width: 350px;
    }
    .home {
        padding-left: 75px;
        padding-top: 20px;
        padding-right: 75px;
        padding-bottom: 0px;
    }
    .article {
        padding-top: 150px;
    }
}